.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Environment Variables ###
.env
docker.env

### Terraform state files ###
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
docker.env
*.hcl
*.tfstate
*.backup
infrastructure/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.1/windows_386/terraform-provider-azurerm_v3.117.1_x5.exe
infrastructure/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.1/windows_386/LICENSE.txt
